    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home">
          Home
        </ion-item>
        <ion-item menu-close href="#/app/users">
          About Us
        </ion-item>
        <ion-item menu-close href="#/app/alerts">
          Menu
        </ion-item>
        <ion-item menu-close href="#/app/favorites">
          My Favorites
        </ion-item>
        <ion-item menu-close href="#/app/contactus">
          Contact Us
        </ion-item>
        <ion-item class="item-divider">
          Services
        </ion-item>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close ng-click="register()">
          Register
        </ion-item>
        <ion-item menu-close ng-click="reserve()">
          Reserve Table
        </ion-item>
      </ion-list>
    </ion-content>