<ion-modal-view id="registerUser">
<ion-header-bar>
    <div class="modal-message">
    <div class="modal-header">
        <button type="button" class="close" ng-click="closeRegister()">&times;</button>
        <h3>Register </h3>
    </div>
    <div class="modal-body">
    <div class="regForm">
        <form ng-submit="doRegister()">
            <div class="form-group">
            <div class="form-group">
                <label for="firstname">Your First Name</label>
                <input type="text" class="form-control input-sm" id="firstname" placeholder="First Name" ng-model="registration.firstname">
            </div>
            <div class="form-group">
                <label for="lastname">Your Last Name</label>
                <input type="text" class="form-control input-sm" id="lastname" placeholder="Last Name" ng-model="registration.lastname">
            </div>
                <label for="username">Create Username</label>
                <input type="text" class="form-control input-sm" id="username" placeholder="Username" ng-model="registration.username">
            </div>
            <div class="form-group">
                <label for="password">Create Password</label>
                <input type="password" class="form-control input-sm" id="password" placeholder="Password" ng-model="registration.password">
            </div>
            <div id="regButtons" class="row">
                <div class="col-xs-6"></div>
                <div class="col-xs-3">
                    <button id="regCancel" type="button" class="btn btn-default btn-md" ng-click="closeRegister()"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
                </div>
                <div class="col-xs-3">
                    <button id="regSubmit" type="submit" class="btn btn-md"><i class="fa fa-power-off" aria-hidden="true"></i> Register</button>
                </div>
            </div>    
        </form>
    </div>
    </div>
</div>
</ion-content>
</ion-modal-view>
